
.event-img {
    background-image: linear-gradient(180deg, rgba(52, 50, 51, 0.1) 0%, #222222 100%), url('../../assets/artists/musician-fog-playing-saxophone.jpg');
    background-size: cover;
    background-position: center; 
    background-position: center;
	background-attachment: fixed;
    height: 45vh;
}


.event-img {
    padding: 120px 0;
}

.event-head{
    padding-left: 380px;
}


.event-content{
    position: relative;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 100px 40px;
}
