.card {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
  }
  
  .card-primary {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--text-secondary);
  }
  
  .card-secondary {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
  
  @media screen and (max-width: 768px) and (min-width: 427px) {
    .card-primary, .card-secondary {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
    }
  }
  
  @media screen and (max-width: 377px) {
    .card-primary, .card-secondary {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    }
  }
  