.btn-primary button,.btn-secondary button  {
    background-color: var(--btn-primary);
    color: var( --btn-text);
    font-size: 15px;
    font-weight: 500;
    border: transparent;
    cursor: pointer;
    padding: 10px 15px;  
    outline: none;
    border: 1px solid transparent;
    border-radius: var(--radius);
    transition: var(--hover-effect);
  }
  
  .btn-secondary button {
    /* background-color: var(--btn-secondary); */
    background-color: white;
    color: var(--primary);
  }  
  
  .btn-primary button:hover {
    background-color: var(--btn-primary-hover);
    color: var(--btn-secondary);
    border: 1px solid var(--btn-primary);
  }
  
  .btn-secondary button:hover{
    border: 1px solid white;
    background-color: var(--btn-primary);
    color: white;
  }
  
  @media screen and (max-width: 600px) {
  
    .btn-primary button,.btn-secondary button {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width:500px) {
      .btn-primary button,.btn-secondary button  {
    width: 100%;
  }
    
  }
  
  
  