.contact {
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    background-color: #333132;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-upper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.contact-upper p {
    align-self: flex-start;
    font-size: 18px;
    text-align: justify;
    color: var(--white);
    line-height: 30px;
}

.contact-seprator {
    border-radius: 15px;
    width: 100%;
    background-color: var(--white);
    height: 2px;
}

.contact-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact-form>div:nth-child(1){
    display: flex;
    gap: 20px;
}

.contact-field{
    width: 100% !important;
}

.contact-form .btn-primary button{
    margin-top: 20px;
    width: 150px !important;
}