.content {
	background-image: url("../../assets/home/rd-burman-759.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: calc(100dvh - 90px);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    gap: 70px;
}


.content h2 {
    font-size: 90px;
    color: red;
}

.content-heading {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.content-info {
    display: flex;
    flex-direction: column;
    width: 58%;
    gap: 15px;
}

.content-info h2 {
    font-size: 32px;
    color: var(--white);
}
.content-info p {
    font-size: 18px;
    color: var(--white);
    line-height: 30px;
    width: 90%;
}

.content-seprator {
    border-radius: 15px;
	width: 100%;
	background-color: var(--white);
	height: 2px;
}
.tribute {
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}
.tribute-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 1rem;
    color: white ;
}

.sponsor-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.about {
	background-image: linear-gradient(180deg, rgba(52, 50, 51, 0.1) 0%, #222222 100%), url("../../assets/home/ss1-copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100dvh;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.about-content {
    height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 25px;
}

.about-text{
    width: 90% !important;
    line-height: 30px;
    text-align: justify;
}


.about-content h1 {
    margin-bottom: 30px;
}

.seprator {
	border-radius: 15px;
	width: 100%;
	background-color: var(--white);
	height: 2px;
}

.about-content p {
    flex-wrap: wrap;
    color: var(--white);
    width: 75%;
    font-size: 20px;
}

.about-content h3 {
    color: var(--white);
}

.about-content h4 {
    color: red;
}

.event {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333132;
}

.event h1 {
    font-size: 70px;
}

.event-info {
    width: 80%;
    display: flex;
}

.event-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white);
}

.event-right h5 {
    font-size: 20px;
}

.event-right h2 {
    font-size: 40px;
}

.amount {
    font-size: 40px;
    color: #e7e030;
    font-weight: 500;
}

.event-right h6 {
    font-size: 20px;
}

.event-right p {
    font-size: 20px;
}

.event-right > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.event-right button {
    width: 150px;
    height: 45px;
    background-color: #d70e1e;
    border: none;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.event-left {
    width: 50%;
    display: flex;
}
.artist {
    background-image: url("../../assets/home/bg-05-free-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100dvh;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-info {
    width: 60%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.artist-seprator {
	border-radius: 15px;
	background-color: var(--white);
	height: 2px;
}

.artistss-list{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}

.artistss-card{
    width: 250px !important;    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.artistss-card img {
    transform: scaleX(-1)
}

.artistss-card p{
    color: var(--primary);
}

.artistss-name{
    color: white;
}

.artist-child {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.rolling-images {
    display: flex;
    width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

.rolling-images img {
    height: 300px;
    width: 100%;
}

.sponsors {
    background-color: #333132;
}

.sponsors img {
    border-radius: 50%;
}

.sponser-container {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sponser-container h1 {
    font-size: 60px;
    font-weight: 400;
}

.sponsor-content {
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;
}