
.artist-img {
    background-image: linear-gradient(180deg, rgba(52, 50, 51, 0.1) 0%, #222222 100%), url('../../assets/artists/musician-fog-playing-saxophone.jpg');
    background-size: cover;
    background-position: center; 
    background-position: center;
	background-attachment: fixed;
    height: 45vh;
}


.artist-img {
    padding: 120px 0;
}

.artist-head{
    padding-left: 380px;
}


.artist-content{
    position: relative;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 100px 40px;
}

.artist-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 90px;
}

.artist-card{
    width: 250px !important;    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.artist-card p{
    color: var(--primary);
}

.artist-name{
    color: white;
}

.artistsocial-content{
    background-color: var(--primary);
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px
}

.artist-social{
    color: white;
    font-size: 45px;
}

.artist-icons{
    display: flex;
    gap: 10px;
}

.artist-icons a{
    padding: 7px;
    background-color: white;
    color: var(--primary);
    border-radius: 4px;
    transition: var(--hover-effect);
    border: 0.5px solid transparent;
    cursor: pointer;
}

.artist-icons a:hover{
    border: 0.5px solid white;
    background-color: red;
    color: white;
}

.artist-content>h1{
    display: none;
}

@media screen and (width<=1400px) {
    .artist-list{
        padding-left: 40px;
        grid-template-columns: repeat(3,1fr);
        gap: 70px;
    }
}

@media screen and (width<=970px) {
    .artist-list{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }

    .artistsocial-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (width<=800px) {
    .artist-img {
        height: 20vh;
    }
}


@media screen and (width<=650px) {

    .artist-img {
        display: none;
    }

    .artist-content>h1{
        display: block;
        color: white;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 40px;
    }
    

    .artist-content{
        padding: 10px 40px 100px 40px;
    }

    .artist-list{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

    .artist-social{
        font-size: 35px;
    }
    
}