.hamburger{
    display: none; 
}

.bar{
    height: 2px;
    width: 25px;
    background: white;   
    margin: 7px 0;
    border-radius: 10px;
}

.hamburger .bar:nth-child(2){
    width: 20px;
}


@media screen and (max-width: 825px){
    .hamburger{
        display:inline-block;
        width: 30px;
        cursor: pointer;
        padding: 7px 0;   
        transition: all 0.5s linear;  
    }
}