.footer {
    background-color: #333132;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-1 {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.footer-head h2{
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 30px1;
}

.footer-2 {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: red;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.social-icon {
    height: 22px;
    width: 22px;
}

.social-icon:hover {
    color: var(--white);
    cursor: pointer;
}

.terms {
    display: flex;
    gap: 10px;
    list-style-type: none;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.terms li:hover {
    color: var(--white);
    cursor: pointer;
}

.footer-3 {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px 0 100px;
    color: rgba(255,255,255,0.65);
}