
.event-img {
    background-image: linear-gradient(180deg, rgba(52, 50, 51, 0.1) 0%, #222222 100%), url('../../assets/artists/musician-fog-playing-saxophone.jpg');
    background-size: cover; /* Optional: Adjust the size of the background image */
    background-position: center; /* Optional: Adjust the position of the background image */
    height: 40vh;
    position: sticky;
    top: 0;
}


.event-img {
    padding: 120px 0;
}

.event-head{
    padding-left: 380px;
}


.event-content{
    position: relative;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 100px 40px;
}
